# PlatformIO & Build output
/.pio/
/build/
/archives/
compile_commands.json

# IDE & Editor files
/.idea/
/.vscode/
*.swp
*.orig
*.org

# ESP-IDF / CMake leftovers
sdkconfig.HeltecESP32
CMakeLists.txt
src/CMakeLists.txt
